main{
    width: 100%;
    max-width: 1600px;
    text-align: center;
    background: #2A2E43;
    padding: 10px;
    padding-top: 10px;
    position: relative;
    background-position: center;
    margin: auto;
 
    
}

.container-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    position: relative;
    background: #2A2E43;
}

.menu{
    width: 90px;
    height: 90px;
    margin:7px;
    background: #353A50;
    padding: 10px;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0px 0px 20px 2px black;
    
}

.container-desplegar h2{
    color: white;
    font-size: 16px;
    font-family: "Gibson-Regular";
    background: #2A2E43;
  
}

.icono-container-desplegar img{
    margin: auto;
    margin-top: 12px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    position: relative;
    background: #2A2E43;

}


.photo-icono1,
.photo-icono2,
.photo-icono3,
.photo-icono4,
.photo-icono5,
.photo-icono6,
.photo-icono7,
.photo-icono8,
.photo-icono9{
    margin: auto;
    margin-top: 4px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    position: relative;

}
.photo-icono1{
    
    background-image:url(../../static/icon/icon1.png) ;

}


.photo-icono2{
    
    background-image:url(../../static/icon/icon2.png) ;

}

.photo-icono3{
    
    background-image:url(../../static/icon/icon3.png) ;

}
.photo-icono4{
    
    background-image:url(../../static/icon/icon4.png) ;

}
.photo-icono5{
    
    background-image:url(../../static/icon/icon5.png) ;

}
.photo-icono6{
    
    background-image:url(../../static/icon/icon6.png) ;

}
.photo-icono7{
    
    background-image:url(../../static/icon/icon7.png) ;

}
.photo-icono8{
    
    background-image:url(../../static/icon/icon8.png) ;

}
.photo-icono9{
    
    background-image:url(../../static/icon/icon9.png) ;

}


.menu h2{
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
    font-family: "Gibson-Regular";
}


input[type="text"] {
    
    width: 90%;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    transition: 0.3s;
    font-family: "Gibson-Regular";
    
  }

  input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input[type="text"] {
    text-align: center;
    font-size: 16px;
   

  }
  
  .inputWithIcon {
    width: 350px;
    height: 30px;
    margin: auto; 
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 9px 38px;
    color: #aaa;
    transition: 0.3s;
    
  }
  #micro{
    position: absolute;
    left: 0;
    top: 2px;
    padding: 17px 320px;
    color: #aaa;
    transition: 0.3s;

  }
  
  .inputWithIcon input[type="text"]:focus + i {
    color: dodgerBlue;
  }

  @media screen and (min-width: 380px){
    .inputWithIcon i {
        position: absolute;
        left: 0;
        top: 10px;
        padding: 9px 45px;
        color: #aaa;
        transition: 0.3s;
        
      }
    
    
      #micro{
        position: absolute;
        left: 0;
        top: 2px;
        padding: 17px 327px;
        color: #aaa;
        transition: 0.3s;
    
      }

    }

    @media screen and (min-width: 395px){
        .inputWithIcon i {
            position: absolute;
            left: 0;
            top: 10px;
            padding: 9px 60px;
            color: #aaa;
            transition: 0.3s;
            
          }
        
        
          #micro{
            position: absolute;
            left: 0;
            top: 2px;
            padding: 17px 342px;
            color: #aaa;
            transition: 0.3s;
        
          }
        }

        @media screen and (min-width: 430px){
            .inputWithIcon i {
                position: absolute;
                left: 0;
                top: 10px;
                padding: 9px 80px;
                color: #aaa;
                transition: 0.3s;
                
              }
            
            
              #micro{
                position: absolute;
                left: 0;
                top: 2px;
                padding: 17px 360px;
                color: #aaa;
                transition: 0.3s;
            
              }
            }

    



