.mediaViewInfo {
    --web-view-name: Sign In;
    --web-view-id: Sign_In;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Sign_In;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Sign_In {
    position: absolute;
    background: #E5E5E5;
    width: 375px;
    height: 812px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: Sign In;
    --web-view-id: Sign_In;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#bg_gray {
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.bg {
    display: none;
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
}

.bg_gradient {
    display: none;
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 165px;
    left: 0px;
    top: 0px;
}

.bg_A19_Path_2 {
    display: none;
    overflow: visible;
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.bg_A19_Path_2 {
    display: none;
    overflow: visible;
    position: absolute;
    width: 375px;
    height: 812px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#content {
    position: absolute;
    width: 327px;
    height: 265px;
    left: 24px;
    top: 170px;
    overflow: visible;
}

#buttons_large_green {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 213px;
    overflow: visible;
}

.bg_A19_Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 0px;
}

#CONTINUE {
    position: absolute;
    left: 127px;
    top: 19px;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: center;
    font-family: Gibson;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
}

#textfields {
    position: absolute;
    width: 327px;
    height: 132px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

#textfields_0 {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#textfield {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.bg_A19_Rectangle_4 {
    filter: drop-shadow(0px 4px 16px rgba(69, 91, 99, 0.078));
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 100px;
    left: 0px;
    top: 0px;
}

#Email {
    opacity: 0.558;
    position: absolute;
    left: 24px;
    top: 19px;
    overflow: visible;
    width: 40px;
    white-space: nowrap;
    text-align: left;
    font-family: Gibson;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(120, 132, 158, 1);
    letter-spacing: 0.2px;
}

#textfields_1 {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 76px;
    overflow: visible;
}

#textfield_A19_Component_3 {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.bg_A19_Rectangle_5 {
    filter: drop-shadow(0px 4px 16px rgba(69, 91, 99, 0.078));
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 100px;
    left: 0px;
    top: 0px;
}

#Password {
    opacity: 0.558;
    position: absolute;
    left: 24px;
    top: 19px;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: Gibson;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(120, 132, 158, 1);
    letter-spacing: 0.2px;
}

#FORGOT_PASSWORD {
    opacity: 0.565;
    position: absolute;
    left: 106px;
    top: 168px;
    overflow: visible;
    width: 114px;
    white-space: nowrap;
    line-height: 14px;
    margin-top: -1px;
    text-align: left;
    font-family: Gibson;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(174, 180, 193, 1);
}

#content_A19_Group_5 {
    position: absolute;
    width: 559px;
    height: 476px;
    left: 24px;
    top: 114px;
    overflow: visible;
}

#bg_A19_Group_6 {
    position: absolute;
    width: 417px;
    height: 417px;
    left: 142px;
    top: 59px;
    overflow: visible;
}

.bg_A19_Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 417px;
    height: 417px;
    left: 0px;
    top: 0px;
}

#textfields_A19_RepeatGrid_2 {
    position: absolute;
    width: 327px;
    height: 207px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

#textfields_A19_RepeatGrid_2_0 {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#textfield_A19_Component_4 {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.bg_A19_Rectangle_6 {
    filter: drop-shadow(0px 4px 16px rgba(69, 91, 99, 0.078));
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 100px;
    left: 0px;
    top: 0px;
}

#Name {
    opacity: 0.558;
    position: absolute;
    left: 24px;
    top: 19px;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    text-align: left;
    font-family: Gibson;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(120, 132, 158, 1);
    letter-spacing: 0.2px;
}

#textfields_A19_RepeatGrid_2_1 {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 76px;
    overflow: visible;
}

#textfield_A19_Component_5 {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.bg_A19_Rectangle_7 {
    filter: drop-shadow(0px 4px 16px rgba(69, 91, 99, 0.078));
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 100px;
    left: 0px;
    top: 0px;
}

#Email_A19_Text_6 {
    opacity: 0.558;
    position: absolute;
    left: 24px;
    top: 19px;
    overflow: visible;
    width: 40px;
    white-space: nowrap;
    text-align: left;
    font-family: Gibson;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(120, 132, 158, 1);
    letter-spacing: 0.2px;
}

#textfields_A19_RepeatGrid_2_2 {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 152px;
    overflow: visible;
}

#textfield_A19_Component_6 {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.bg_A19_Rectangle_8 {
    filter: drop-shadow(0px 4px 16px rgba(69, 91, 99, 0.078));
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 100px;
    left: 0px;
    top: 0px;
}

#Password_A19_Text_7 {
    opacity: 0.558;
    position: absolute;
    left: 24px;
    top: 19px;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: Gibson;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(120, 132, 158, 1);
    letter-spacing: 0.2px;
}

#buttons_large_green_A19_Component_7 {
    position: absolute;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 261px;
    overflow: visible;
}

.bg_A19_Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 327px;
    height: 52px;
    left: 0px;
    top: 0px;
}

#CONTINUE_A19_Text_8 {
    position: absolute;
    left: 127px;
    top: 19px;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: center;
    font-family: Gibson;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
}

#top {
    position: absolute;
    width: 375px;
    height: 102px;
    left: 0px;
    top: 15px;
    overflow: visible;
}

#tab_2_options_1 {
    position: absolute;
    width: 375px;
    height: 44px;
    left: 0px;
    top: 58px;
    overflow: visible;
}

.bg_A19_Rectangle_10 {
    filter: drop-shadow(0px 12px 16px rgba(69, 91, 99, 0.078));
    position: absolute;
    overflow: visible;
    width: 423px;
    height: 92px;
    left: 0px;
    top: 0px;
}

#SIGN_IN {
    position: absolute;
    left: 71px;
    top: 17px;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    text-align: center;
    font-family: Gibson;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(69, 79, 99, 1);
}

#SIGN_UP {
    position: absolute;
    left: 254px;
    top: 17px;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    text-align: center;
    font-family: Gibson;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(149, 157, 173, 1);
}

.divider {
    position: absolute;
    overflow: visible;
    width: 1px;
    height: 44px;
    left: 187px;
    top: 0px;
}

#gradient {
    position: absolute;
    width: 188px;
    height: 6px;
    left: 0px;
    top: 38px;
    overflow: visible;
}

.Rectangle {
    position: absolute;
    overflow: visible;
    width: 47.125px;
    height: 6px;
    left: 0px;
    top: 0px;
}

.Rectangle_A19_Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 47.125px;
    height: 6px;
    left: 47.125px;
    top: 0px;
}

.Rectangle_A19_Rectangle_14 {
    position: absolute;
    overflow: visible;
    width: 47.125px;
    height: 6px;
    left: 93.75px;
    top: 0px;
}

.Rectangle_A19_Rectangle_15 {
    position: absolute;
    overflow: visible;
    width: 47.125px;
    height: 6px;
    left: 140.875px;
    top: 0px;
}

.divider_A19_Rectangle_16 {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 1px;
    left: 0px;
    top: 0px;
}

#status_bar_light {
    position: absolute;
    width: 340.328px;
    height: 16px;
    left: 20px;
    top: 0px;
    overflow: visible;
}

#status_bar_light_A19_Group_12 {
    position: absolute;
    width: 340.328px;
    height: 16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Background {
    display: none;
    overflow: visible;
    position: absolute;
    width: 375px;
    height: 44px;
    left: -20px;
    top: -15px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Battery {
    position: absolute;
    width: 24.328px;
    height: 11.333px;
    left: 316px;
    top: 2.333px;
    overflow: visible;
}

#Border {
    position: absolute;
    width: 22px;
    height: 11.333px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Cap {
    position: absolute;
    width: 1.328px;
    height: 4px;
    left: 23px;
    top: 3.667px;
    overflow: visible;
}

#Capacity {
    position: absolute;
    width: 18px;
    height: 7.333px;
    left: 2px;
    top: 2px;
    overflow: visible;
}

#Wifi {
    position: absolute;
    width: 15.272px;
    height: 10.966px;
    left: 295.694px;
    top: 2.331px;
    overflow: visible;
}

#Wifi_A19_Group_18 {
    position: absolute;
    width: 15.272px;
    height: 10.966px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Cellular_Connection {
    position: absolute;
    width: 17px;
    height: 10.667px;
    left: 273.667px;
    top: 2.667px;
    overflow: visible;
}

#Cellular_Connection_A19_Group_20 {
    position: absolute;
    width: 17px;
    height: 10.667px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Bars___Time_Black {
    position: absolute;
    width: 54px;
    height: 16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Background_A19_Path_14 {
    overflow: visible;
    position: absolute;
    width: 54px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.__Time {
    overflow: visible;
    position: absolute;
    width: 27.451px;
    height: 10.35px;
    left: 12.823px;
    top: 4.89px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#bottom {
    position: absolute;
    width: 375px;
    height: 333px;
    left: 0px;
    top: 479px;
    overflow: visible;
}

#keyboard_dark {
    position: absolute;
    width: 375px;
    height: 333px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Screen_Background {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 333px;
    left: 0px;
    top: 0px;
}

#Keyboard_Alphabet {
    position: absolute;
    width: 375px;
    height: 333px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Keyboard_Bottom {
    position: absolute;
    width: 375px;
    height: 76px;
    left: 0px;
    top: 257px;
    overflow: visible;
}

.Background_A19_Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 76px;
    left: 0px;
    top: 0px;
}

#Emoji {
    position: absolute;
    width: 26.5px;
    height: 26.5px;
    left: 24.5px;
    top: 25px;
    overflow: visible;
}

#Emoji_A19_Group_26 {
    position: absolute;
    width: 26.5px;
    height: 26.5px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Dictation {
    position: absolute;
    width: 15px;
    height: 24.997px;
    left: 330px;
    top: 26px;
    overflow: visible;
}

#Dictation_A19_Group_28 {
    position: absolute;
    width: 15px;
    height: 24.997px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Home_Indicator {
    position: absolute;
    width: 375px;
    height: 34px;
    left: 0px;
    top: 42px;
    overflow: visible;
}

.Background_A19_Rectangle_19 {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 34px;
    left: 0px;
    top: 0px;
}

.Bar {
    position: absolute;
    overflow: visible;
    width: 134px;
    height: 5px;
    left: 121px;
    top: 20px;
}

#Keyboard_Alphabetic___Suggesti {
    position: absolute;
    width: 375px;
    height: 258px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Keyboard_Alphabet_A19_Rectangle_21 {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 216px;
    left: 0px;
    top: 42px;
}

#Keyboard_Alphabetic___Suggesti_A19_Group_31 {
    position: absolute;
    width: 375px;
    height: 42px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Background_A19_Rectangle_23 {
    filter: blur(20px);
}

.Background_A19_Rectangle_23 {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 42px;
    left: 0px;
    top: 0px;
}

#Suggestion_3 {
    position: absolute;
    width: 124px;
    height: 42px;
    left: 251px;
    top: 0px;
    overflow: visible;
}

.Background_A19_Rectangle_24 {
    position: absolute;
    overflow: visible;
    width: 124px;
    height: 42px;
    left: 0px;
    top: 0px;
}

.suggestion_3 {
    overflow: visible;
    position: absolute;
    width: 49.454px;
    height: 12.659px;
    left: 37.093px;
    top: 12.499px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Suggestion_2 {
    position: absolute;
    width: 125px;
    height: 42px;
    left: 125px;
    top: 0px;
    overflow: visible;
}

.Background_A19_Rectangle_25 {
    position: absolute;
    overflow: visible;
    width: 125px;
    height: 42px;
    left: 0px;
    top: 0px;
}

.Suggestion_2_A19_Path_21 {
    overflow: visible;
    position: absolute;
    width: 40.147px;
    height: 12.659px;
    left: 42.25px;
    top: 12.499px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Suggestion_1 {
    position: absolute;
    width: 124px;
    height: 42px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Background_A19_Rectangle_26 {
    position: absolute;
    overflow: visible;
    width: 124px;
    height: 42px;
    left: 0px;
    top: 0px;
}

.suggestion_1 {
    overflow: visible;
    position: absolute;
    width: 52.023px;
    height: 12.916px;
    left: 35.493px;
    top: 12.242px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}